body {
    margin: 0;
    padding: 0;
    font: 1.4px/1.5 'Microsoft Yahei';
}

#body #section .languageType ul {
    width: 200px;
    float: left;
    border: 1px solid #000000;
}

#body #section .example1 form {
    position: absolute;
    left: 200px;
    top: 200px;
}

#body #section .example1 span {
    font-size: 18px;
    width: 60px;
    display: inline-block;
    text-align: center;
}

#body #section .example1 input[type="checkbox"] {
    display: inline-block;
    text-align: center;
}

#body #section .example1 label {
    font-size: 14px;
    text-shadow: none;
}

#body #section .example1 form {
    display: inline-block;
    width: 300px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    position: relative;
    font-size: 18px;
}

#body #section .example1 a {
    margin-left: 10px;
    color: green;
    font-size: 10px;
    text-shadow: none;
}

#body #section .example1 button {
    width: 60px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    ;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    -webkit-appearance: none;
    float: right;
    margin: 4px;
}

#body #section .example1 button:hover {
    cursor: pointer;
}

#body #section .example1 button:active {
    box-shadow: 0px 0px 0px 0px;
}

.t_center {
    text-align: center;
}

.ppt_button {
    width: 45%;
    height: 100px;
    margin: 2%;
    padding: 0;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.main {
    padding: 10px;
}

.guest,
.master {
    overflow: hidden;
    margin-bottom: 10px;
}

.guest .username,
.master .username {
    float: left;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    /*border: 1px solid #EDE7E7;*/
}

.guest .text,
.master .text {
    /*margin: 0 65px;*/
}

.guest .text span,
.master .text span {
    position: relative;
    display: inline-block;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    /*border: 1px solid #EDE7E7;*/
}

.guest .text span:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: -15px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}

.master .text span:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    right: -15px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #0CEA85;
}

.fl_none {
    float: none!important;
}

.fr {
    float: right;
}

.master .username {
    /*position: absolute;*/
    display: inline-block;
    right: 10px;
}

.bc0CEA85 {
    background-color: #0CEA85!important;
    color: #fff;
}

.hidden {
    display: none;
}

.inpt {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.position,
.chat {
    padding: 10px 0;
    font-size: 0;
}

.position .username,
.chat .text {
    width: 85%;
    padding: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.position .sure,
.chat .submit {
    width: 15%;
    border: none;
    padding: 10px 0;
    background-color: #EDDADA;
    color: #3786D3;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.t_right {
    text-align: right;
}

.online_user {
    text-align: center;
    color: #f00;
}
